.fila{
        display: grid;
        grid-auto-flow: row;        
        justify-items: center; 
        height: 100%;
    }
    .columna{
        display: grid;
        grid-auto-flow: column;    
        justify-items: start;
        justify-content: start;  
        width: 100%;         
    }      
    body{
        min-height: 100vh;
        max-width: 100vw;
    }  
    .cajaBotonesDialog{        
        justify-content: space-evenly;
    }
    .dialogForm[open]{
        display: grid;
        grid-auto-flow: row;
        gap: 1.5em;
    }

    #popoverMensajes{        
        width: 60%;
        position: absolute;
        top: var(--heightTituloHeader);
        margin: 0 auto;        
        
        border-radius: 4px;
        padding: 0.5em;
    }
    #popoverMensajes:popover-open{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mensajeStatus{
        background-color: var(--fondoMensajeStatus);
        color: green;
        border: green solid 2px;
    }
    .mensajeError{
        background-color: var(--fondoMensajeError);
        color: black;
        border: black solid 2px;
    }
    #popoverMensajes button{
        border: none;
    }
    #popoverMensajes button:hover{        
        cursor: pointer;
    }